<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated usemearch -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="fr.tpt.rdalte.useme.architecture.model.usemearch.presentation.UsemearchModelWizardID"
            name="%_UI_UsemearchModelWizard_label"
            class="fr.tpt.rdalte.useme.architecture.model.usemearch.presentation.UsemearchModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/UsemearchModelFile.gif">
         <description>%_UI_UsemearchModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated usemearch -->
      <editor
            id="fr.tpt.rdalte.useme.architecture.model.usemearch.presentation.UsemearchEditorID"
            name="%_UI_UsemearchEditor_label"
            icon="icons/full/obj16/UsemearchModelFile.gif"
            extensions="usemearch"
            class="fr.tpt.rdalte.useme.architecture.model.usemearch.presentation.UsemearchEditor"
            contributorClass="fr.tpt.rdalte.useme.architecture.model.usemearch.presentation.UsemearchActionBarContributor">
      </editor>
   </extension>

</plugin>
